<!--
IceCast-Stats is system for statistics generation and analysis
for an IceCast streaming server
Copyright (C) 2015  René Balay Lorenzo <rene.bl89@gmail.com>

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-->

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalLoginLabel">Login</h4>
      </div>
      <% flash.each do |name, msg| -%>
      	<div class="alert alert-danger alert-dismissible fade in" role="alert">
  			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  			<%= msg %>
		</div>
      <% end -%>
      <%= form_for(:session, url: login_path) do |f| %>
      	<div class="modal-body">
        	<%= f.label :login %>
        	<%= f.text_field :login, class: 'form-control' %>
        	<%= f.label :password %>
        	<%= f.password_field :password, class: 'form-control' %>
      	</div>
      	<div class="modal-footer">
        	<%= f.submit "Login", class: "btn btn-primary" %>
      	</div>
      <% end %>
    </div>
  </div>