<!DOCTYPE html>
<html>
<head>
  <title>IceCastStats</title>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
  	google.load('visualization', '1.0', {'packages':['corechart', 'bar']});
  </script>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">

<div id="jumboWelcomePage" class="jumbotron">
<h1 class="text-center">IceCast-Stats</h1>

<p class="text-center">
	Bienvenid@ a IceCast-Stats, una aplicación web para el análisis y generación de estadísticas para un servidor de
	streaming IceCast.
</p>

<p id="adminQuestion" class="text-center">¿Eres administrador?. Por favor, identifícate.</p>

<div id="buttonLogin">
	<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalLogin">Login</button>
</div>
</div>

<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLoginLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalLoginLabel">Login</h4>
      </div>
      <% flash.each do |name, msg| -%>
      	<div class="alert alert-danger" role="alert"><%= msg %></div>
      <% end -%>
      <%= form_for(:session, url: login_path) do |f| %>
      	<div class="modal-body">
        	<%= f.label :login %>
        	<%= f.text_field :login, class: 'form-control' %>
        	<%= f.label :password %>
        	<%= f.password_field :password, class: 'form-control' %>
      	</div>
      	<div class="modal-footer">
        	<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        	<%= f.submit "Login", class: "btn btn-primary" %>
      	</div>
      <% end %>
    </div>
  </div>
</div>
</body>
</html>