<!DOCTYPE html>
<html>
<head>
  <title>IceCastStats</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application', params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">

<%= yield %>

</body>
</html>
