<!DOCTYPE html>
<html>
<head>
  <title>IceCastStats</title>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
      google.load("visualization", "1.1", {packages:["bar"]});
      google.load("visualization", "1.1", {packages:["corechart"]});
      google.load("visualization", "1", {packages:["corechart"]});
  </script>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application', params[:controller] %>
  <%= javascript_include_tag 'directives' %>
  <%= javascript_include_tag 'services' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">

<snap-drawers id="drawers">
	<snap-drawer id="menu">
		<ul>
			<li><span class="glyphicon glyphicon-home"></span> <a href="#">Inicio</a></li>
			<li><span class="glyphicon glyphicon-stats"></span> <a href="#">Estadísticas</a></li>
			<li><span class="glyphicon glyphicon-cog"></span> <a href="#">Configuración</a></li>
		</ul>
	</snap-drawer>
</snap-drawers>

<div snap-content id="snapCont">
	<div class="header">
		<header id="cabecera">
			<div id="divButton">
				<button id="menuButton" snap-toggle="">
				</button>
			</div>
			<div id="divHeader">
				<h1 class="text-center">
					<span id="icecastImage"><%= image_tag 'icecast.png' %></span>
					IceCast-Stats
				</h1>
			</div>		
		</header>
	</div>
	<div class="content">
		<%= yield %>
	</div>
</div>
</body>
</html>
