<!DOCTYPE html>
<html>
<head>
  <title>IceCastStats</title>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
  	google.load('visualization', '1.1', {'packages':['corechart', 'bar', "calendar"]});
  	google.load("visualization", "1", {'packages':["geochart"]});
  </script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<snap-drawers id="drawers">
	<snap-drawer id="menu">
		<ul>
			<li><span class="glyphicon glyphicon-home"></span> <a href="#/" snap-toggle="">Inicio</a></li>
			<li><span class="glyphicon glyphicon-stats"></span> <a href="#/stats" snap-toggle="">Estadísticas</a></li>
			<li><span class="glyphicon glyphicon-cog"></span> <a href="#/config" snap-toggle="">Configuración</a></li>
		</ul>
	</snap-drawer>
</snap-drawers>

<div snap-content id="snapCont">
	<div class="header">
		<header id="cabecera">
			<div id="divButton">
				<button id="menuButton" snap-toggle="">
				</button>
			</div>
			<div id="divHeader">
				<h1 class="text-center">
					<span id="icecastImage"><%= image_tag 'icecast.png' %></span>
					IceCast-Stats
				</h1>
			</div>	
			<% if authenticated? %>
				<div id="userInfo">
					<span>Usuario: <%= current_user.login %>, <%= link_to "Logout", logout_path, method: :delete %></span>
				</div>	
			<% end %>
		</header>
	</div>
	<div ng-view class="content"></div>
</div>

</body>
</html>
