<!DOCTYPE html>
<html>
<head>
  <title>IceCastStats</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application', params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">

<header id="cabecera">
	<h1 class="text-center">
		<span id="icecastImage"><%= image_tag 'icecast.png' %></span>
		IceCast-Stats
	</h1>
	<%= image_tag 'button-menu.png' %>
</header>


<%= yield %>

</body>
</html>
